.channels-3g2vYe {
    background-color: rgba(0,0,0,0);
}
.container-RYiLUQ {
    background-color:  transparent;
}
.container-2OU7Cz {
    background-color:  rgba(0,0,0,0);
}
.theme-dark .layer, .theme-dark .layers {
    background: transparent;
}
.guilds-wrapper {
    background-color: transparent;
}
.theme-dark .chat form .typing {
    background-color: transparent;
}
.theme-dark .chat form {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .chat>.content {
    background-color: transparent;
}
.theme-dark .chat {
    background-color: transparent;
}

.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: transparent;
}
.theme-dark .channel-members {
    background-color: transparent;
}
.theme-dark .title-qAcLxz {
    background: transparent;
    box-shadow: none;
}
.theme-dark #friends {
    background-color: transparent;
}
.theme-dark .headerBar-cxbhPD {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .content-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view {
    background: transparent;
}
